# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - run: npm install
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm test
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          scope: ${{ github.repository_owner }}
          registry-url: https://npm.pkg.github.com
      - name: Rename package to ${{ github.repository_name }}
        run: npm run rename ${{ github.repository_name }}
      - name: Create a package called @${{ github.repository }}
        run: npm init --scope @${{ github.repository_owner }} -y
      - name: Publish the package
        run: |
          echo reigstry=//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN} > ~/.npmrc
          npm publish
          rm ~/.npmrc
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NODE_AUTH_TOKEN: ${{ github.token }}
