name: Run scheduled action
on:
  schedule:
    - cron: '0 4 * * *'

jobs:
  run_schedule:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
    - name: Install npm packages
      run: npm install --save-dev
    - name: Build and publish to npm
      run : |
        npm run dump
        npm run test
      env :
        NODE_AUTH_TOKEN: '${{ secrets.NPM_TOKEN }}'
    - name: Add changes to git
      run: |
        git config --global user.name "username"
        git config --global user.email "user email"
        git add "lib/index.d.ts"
        git commit -m "Update schedule ${{ steps.date.outputs.date }}"
        git push
    - name: Exit with status 0
      if: ${{ failure() }}
      run: 'exit 0'