name: Run scheduled action
on:
  push:
    branches: [ main ]

jobs:
  run_schedule:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
    - name: Install npm packages
      run: npm install --save-dev
    - name: Build and publish to npm
      run : |
        npm publish
      env :
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}